@model List<CommunityToolShedMVC.Models.Tool>

@{
    ViewBag.Title = "My Tools";
}

<h2>My Tools</h2>

<table class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Tool Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tool in Model)
        {
            <tr>
                <td>@tool.ToolName</td>
                <td>
                    @using (Html.BeginForm("Delete", "Tools", new { id = tool.ToolId}))
                    {
                        <button class="btn btn-danger" type="submit">Delete Tool</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn btn-warning">
    @Html.ActionLink("Tools List", "Index")
</div>

