USE [master]
GO
/****** Object:  Database [CommunityShed]    Script Date: 9/13/2019 5:09:21 PM ******/
CREATE DATABASE [CommunityShed]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommunityShed', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CommunityShed.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CommunityShed_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CommunityShed_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommunityShed].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommunityShed]
GO
/****** Object:  Table [dbo].[BorrowedTool]    Script Date: 9/13/2019 5:09:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowedTool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToolId] [int] NOT NULL,
	[BorrowerPersonId] [int] NOT NULL,
	[CheckedOutOn] [datetime] NOT NULL,
	[DueOn] [datetime] NOT NULL,
	[ReturnedOn] [datetime] NULL,
 CONSTRAINT [PK_BorrowedTool] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Community]    Script Date: 9/13/2019 5:09:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community](
	[CommunityId] [int] IDENTITY(1,1) NOT NULL,
	[CommunityName] [nvarchar](50) NOT NULL,
	[CreatorPersonId] [nvarchar](50) NOT NULL,
	[IsOpen] [bit] NOT NULL,
 CONSTRAINT [PK_Community] PRIMARY KEY CLUSTERED 
(
	[CommunityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 9/13/2019 5:09:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[HashedPassword] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonCommunity]    Script Date: 9/13/2019 5:09:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonCommunity](
	[PersonCommunityId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[CommunityId] [int] NOT NULL,
	[PersonCommunityStatusId] [int] NOT NULL,
 CONSTRAINT [PK_PersonCommunity] PRIMARY KEY CLUSTERED 
(
	[PersonCommunityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonCommunityRole]    Script Date: 9/13/2019 5:09:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonCommunityRole](
	[PersonCommunityId] [int] NOT NULL,
	[RoleId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonCommunityStatus]    Script Date: 9/13/2019 5:09:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonCommunityStatus](
	[PersonCommunityStatusId] [int] IDENTITY(1,1) NOT NULL,
	[PersonCommunityStatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PersonCommunityStatus] PRIMARY KEY CLUSTERED 
(
	[PersonCommunityStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/13/2019 5:09:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tool]    Script Date: 9/13/2019 5:09:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tool](
	[ToolId] [int] IDENTITY(1,1) NOT NULL,
	[ToolName] [nvarchar](50) NOT NULL,
	[OwnerPersonId] [int] NOT NULL,
	[CommunityId] [int] NOT NULL,
	[Purpose] [nvarchar](max) NULL,
	[Age] [nvarchar](max) NULL,
	[Warnings] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tool] PRIMARY KEY CLUSTERED 
(
	[ToolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BorrowedTool] ON 

INSERT [dbo].[BorrowedTool] ([Id], [ToolId], [BorrowerPersonId], [CheckedOutOn], [DueOn], [ReturnedOn]) VALUES (1, 1, 1, CAST(N'2019-09-13T12:57:58.770' AS DateTime), CAST(N'2019-09-20T12:57:58.770' AS DateTime), CAST(N'2019-09-13T15:31:09.573' AS DateTime))
INSERT [dbo].[BorrowedTool] ([Id], [ToolId], [BorrowerPersonId], [CheckedOutOn], [DueOn], [ReturnedOn]) VALUES (2, 3, 2, CAST(N'2019-09-13T17:03:56.490' AS DateTime), CAST(N'2019-09-20T17:03:56.490' AS DateTime), CAST(N'2019-09-13T17:04:11.587' AS DateTime))
SET IDENTITY_INSERT [dbo].[BorrowedTool] OFF
SET IDENTITY_INSERT [dbo].[Community] ON 

INSERT [dbo].[Community] ([CommunityId], [CommunityName], [CreatorPersonId], [IsOpen]) VALUES (1, N'Astoria', N'1', 1)
INSERT [dbo].[Community] ([CommunityId], [CommunityName], [CreatorPersonId], [IsOpen]) VALUES (2, N'Jamaica', N'2', 1)
INSERT [dbo].[Community] ([CommunityId], [CommunityName], [CreatorPersonId], [IsOpen]) VALUES (3, N'Brooklyn', N'1', 1)
SET IDENTITY_INSERT [dbo].[Community] OFF
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([PersonId], [Name], [Email], [HashedPassword]) VALUES (1, N'James Churchill', N'james@smashdev.com', N'$2a$12$f.QnNB1WKRd81Muow.1Okeq7LnzJCYb/dYoV3bDPZXF.tq.tff3o6')
INSERT [dbo].[Person] ([PersonId], [Name], [Email], [HashedPassword]) VALUES (2, N'Omer Latif', N'ol@321.com', N'$2a$12$f.QnNB1WKRd81Muow.1Okeq7LnzJCYb/dYoV3bDPZXF.tq.tff3o6')
INSERT [dbo].[Person] ([PersonId], [Name], [Email], [HashedPassword]) VALUES (3, N'Bill Smithh', N'bill@smith.com', N'$2a$12$f.QnNB1WKRd81Muow.1Okeq7LnzJCYb/dYoV3bDPZXF.tq.tff3o6')
SET IDENTITY_INSERT [dbo].[Person] OFF
SET IDENTITY_INSERT [dbo].[PersonCommunity] ON 

INSERT [dbo].[PersonCommunity] ([PersonCommunityId], [PersonId], [CommunityId], [PersonCommunityStatusId]) VALUES (1, 1, 1, 2)
INSERT [dbo].[PersonCommunity] ([PersonCommunityId], [PersonId], [CommunityId], [PersonCommunityStatusId]) VALUES (2, 2, 2, 2)
INSERT [dbo].[PersonCommunity] ([PersonCommunityId], [PersonId], [CommunityId], [PersonCommunityStatusId]) VALUES (3, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[PersonCommunity] OFF
INSERT [dbo].[PersonCommunityRole] ([PersonCommunityId], [RoleId]) VALUES (3, 3)
INSERT [dbo].[PersonCommunityRole] ([PersonCommunityId], [RoleId]) VALUES (1, 3)
INSERT [dbo].[PersonCommunityRole] ([PersonCommunityId], [RoleId]) VALUES (1, 4)
SET IDENTITY_INSERT [dbo].[PersonCommunityStatus] ON 

INSERT [dbo].[PersonCommunityStatus] ([PersonCommunityStatusId], [PersonCommunityStatusName]) VALUES (1, N'Pending')
INSERT [dbo].[PersonCommunityStatus] ([PersonCommunityStatusId], [PersonCommunityStatusName]) VALUES (2, N'Approved')
INSERT [dbo].[PersonCommunityStatus] ([PersonCommunityStatusId], [PersonCommunityStatusName]) VALUES (3, N'Denied')
SET IDENTITY_INSERT [dbo].[PersonCommunityStatus] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Member')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Approver')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (4, N'Reviewer')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Tool] ON 

INSERT [dbo].[Tool] ([ToolId], [ToolName], [OwnerPersonId], [CommunityId], [Purpose], [Age], [Warnings]) VALUES (1, N'Scissors', 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Tool] ([ToolId], [ToolName], [OwnerPersonId], [CommunityId], [Purpose], [Age], [Warnings]) VALUES (2, N'Hammer', 2, 2, NULL, NULL, NULL)
INSERT [dbo].[Tool] ([ToolId], [ToolName], [OwnerPersonId], [CommunityId], [Purpose], [Age], [Warnings]) VALUES (3, N'Ladder', 1, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tool] OFF
ALTER TABLE [dbo].[BorrowedTool]  WITH CHECK ADD  CONSTRAINT [FK_BorrowedTool_Person] FOREIGN KEY([BorrowerPersonId])
REFERENCES [dbo].[Person] ([PersonId])
GO
ALTER TABLE [dbo].[BorrowedTool] CHECK CONSTRAINT [FK_BorrowedTool_Person]
GO
ALTER TABLE [dbo].[BorrowedTool]  WITH CHECK ADD  CONSTRAINT [FK_BorrowedTool_Tool] FOREIGN KEY([ToolId])
REFERENCES [dbo].[Tool] ([ToolId])
GO
ALTER TABLE [dbo].[BorrowedTool] CHECK CONSTRAINT [FK_BorrowedTool_Tool]
GO
ALTER TABLE [dbo].[PersonCommunity]  WITH CHECK ADD  CONSTRAINT [FK_PersonCommunity_Community1] FOREIGN KEY([CommunityId])
REFERENCES [dbo].[Community] ([CommunityId])
GO
ALTER TABLE [dbo].[PersonCommunity] CHECK CONSTRAINT [FK_PersonCommunity_Community1]
GO
ALTER TABLE [dbo].[PersonCommunity]  WITH CHECK ADD  CONSTRAINT [FK_PersonCommunity_Person1] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([PersonId])
GO
ALTER TABLE [dbo].[PersonCommunity] CHECK CONSTRAINT [FK_PersonCommunity_Person1]
GO
ALTER TABLE [dbo].[PersonCommunity]  WITH CHECK ADD  CONSTRAINT [FK_PersonCommunity_PersonCommunityStatus] FOREIGN KEY([PersonCommunityStatusId])
REFERENCES [dbo].[PersonCommunityStatus] ([PersonCommunityStatusId])
GO
ALTER TABLE [dbo].[PersonCommunity] CHECK CONSTRAINT [FK_PersonCommunity_PersonCommunityStatus]
GO
ALTER TABLE [dbo].[PersonCommunityRole]  WITH CHECK ADD  CONSTRAINT [FK_PersonCommunityRole_PersonCommunity] FOREIGN KEY([PersonCommunityId])
REFERENCES [dbo].[PersonCommunity] ([PersonCommunityId])
GO
ALTER TABLE [dbo].[PersonCommunityRole] CHECK CONSTRAINT [FK_PersonCommunityRole_PersonCommunity]
GO
ALTER TABLE [dbo].[PersonCommunityRole]  WITH CHECK ADD  CONSTRAINT [FK_PersonCommunityRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[PersonCommunityRole] CHECK CONSTRAINT [FK_PersonCommunityRole_Role]
GO
ALTER TABLE [dbo].[Tool]  WITH CHECK ADD  CONSTRAINT [FK_Tool_Community] FOREIGN KEY([CommunityId])
REFERENCES [dbo].[Community] ([CommunityId])
GO
ALTER TABLE [dbo].[Tool] CHECK CONSTRAINT [FK_Tool_Community]
GO
ALTER TABLE [dbo].[Tool]  WITH CHECK ADD  CONSTRAINT [FK_Tool_Person] FOREIGN KEY([OwnerPersonId])
REFERENCES [dbo].[Person] ([PersonId])
GO
ALTER TABLE [dbo].[Tool] CHECK CONSTRAINT [FK_Tool_Person]
GO
USE [master]
GO
